// Reset/Normalize

body {
    //font-family: 'Dosis', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
    color: #8F849C;

    @include media-md {
        font-size: 1rem;
    }
}

h1, h2 ,h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

hgroup {
    margin: 0;
    padding: 0;
}


