.carousel {

    &-item {
        margin: 0;
        padding: 0;

        .card {
            line-height: 1.4rem;
            margin: 0 .4rem;
            text-align: center;

            &-body {
                background-color: #1a71b1;
                //padding: 1rem .4rem;
            }

            &-title {
                color: white;
                font-family: 'Nunito', sans-serif;
                font-weight: 700;
                padding: 0;
                margin: 0;
            }

            &-text {
                margin: .3rem 0;
            }

            &--image {
                //border: 3px dotted black;
                // box-sizing: border-box;
                position: relative;
                top: 0;
                left: 0;
            }

            &--icon {
                background-color: #FFFFFF;
                border-radius: 2rem;
                margin: 0 auto;
                padding: .5rem;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin-left: auto;
                margin-right: auto;
                margin-top: 58%;
                //margin-bottom: auto;
                width: 3.4rem;
                //height: 3.4rem;
            }
        }
    }
}