.us {
    //margin: -1rem 0;

    @include media-md {
        margin: -1rem 0;
    }

    .container {
        .row {
            margin-right: 0;
            margin-left: 0;

            @include media-md {
                margin-right: -15px;
                margin-left: -15px;
            }
        }
    }

    & > div:first-child {
        background-color: #F8F5F2;
        padding: 0;

        @include media-md {
            padding: 1rem 0;
        }
       
    }
    & > div:last-child {
        //margin-top: -7.5rem;
    }

    &__choose-us {

        @include media-md {
            padding-left: 1rem;
        }

        hgroup {
            background-color: #FFFFFF;

            @include media-md {
                margin: 3.5rem .5rem 0 -1rem;
                padding: 0;
            }

            &.title {
                h3 {
                    padding: 0;
                }

                .info {
                    padding: 1rem;
                }
            }
        }
    }

    &__we-do-it {
        hgroup {
            position: absolute;

            @include media-md {
                //background-color: #FFFFFF;
                //width: 92.5% ! important;
            }

            h2 ,h3 {
                font-family: 'Nunito', sans-serif;
                padding: 0;
                text-align: left;
            }

            h3 {
                color: #f77a7a;
                //font-size: 1.2rem;
            }

            .info {
                padding: 1rem;
            }

            &.title {
                top: 7%;
                display: flex;
                justify-content: flex-end;
                width: 95%;

                .info {
                    background-color: #F8F5F2;
                    width: 88%;

                    @include media-md {
                        background-color: #FFFFFF;
                    }
                }
            }

            &.call-us {
                width: 92.5%;
                bottom: 3%;

                @include media-md {
                    padding: 1.2rem;
                    width: 95%;

                    h2 {
                        padding-bottom: 1rem;
                    }
                }

                .info {
                    background-color: #FFFFFF;
                    margin: 0 auto;
                    width: 80%;

                    @include media-md {
                        width: 80%;
                    }
                }
            }

            @include media-md {
                width: 83%;
            }
            @include media-lg {
                width: 87%;
            }
            @include media-xl {
                width: 89%;
            }
        }
    }

    &__call-us {
        background-color: #FFFFFF;

        .btn {
            &__action {
                font-size: 1.4rem;
                margin: 0 auto; 
                width: 14rem;
            }
        }
    }

    hgroup {
        text-align: left;

        h2 {
            font-size: 1.6rem;
            line-height: 1.6rem;

            @include media-md {
                font-size: 1.8rem; 
                line-height: 1.4rem;
            }

            @include media-lg {
                font-size: 2.2rem;   
                line-height: 2rem; 
            }
        }
        h3 {
            font-size: 1.2rem;

            @include media-md {
                font-size: 1.4rem;    
            }

            @include media-lg {
                font-size: 1.6rem;    
            }

        }
    }
}