.header {
    border-top: 6px solid #f77a7a;

    &__top {
        background-color: #F3F3F5; 
    }
    &__middle {
        background-color: #FFFFFF; 
    }
    &__bottom {
        background-color: #f77a7a; 
    }
}