.header {
    border-top: 6px solid rgba(26, 113, 177, 1);

    &__top {
        background-color: #F3F3F5; 
    }
    &__middle {
        background-color: #FFFFFF; 
    }
    &__bottom {
        background-color: rgba(26, 113, 177, 1)
    }
}